#cuboJugadores{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#cuboJugador1{
    background-color: red;
    border-radius: 5%;
}
#cuboJugador2{
    background-color: yellow;
    border-radius: 5%;
}
#cuboJugador3{
    background-color: blue;
    border-radius: 5%;
}
#cuboJugador4{
    background-color: green;
    border-radius: 5%;
}