.galeria
{
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.imagen
{
    display: block;
    margin: auto;
    width: 200px;
    height: auto;
    /* filter: grayscale(100%); */
    border-radius: 3px;
    margin: 1em;
    margin-bottom: 1em;
    border: 0.2px solid rgba(0, 0, 0, 0.445);
}

.nombre, .apellido
{
    color: black;
    font-size:17px;
    letter-spacing: 0.03em;
    text-align: center;
}

.categoria
{
    text-align: center;
    margin-bottom: 0%;
    padding-bottom: 0%;
    background-color: pink;
    /* outline: 1px solid rgba(177, 63, 29, 0.473); */
    box-shadow: -2px 0px 0px 0px rgb(41, 41, 41), 2px 0px 0px 0px rgb(41, 41, 41);
    
    /* border-bottom: 30px solid green; */
}
.mujer
{
    background-color:rgba(231, 231, 231, 0.89);
    border: 1px solid rgb(70, 70, 70);
    border-radius: 3px;
    /* margin: auto; */
    margin-bottom: 0.5em;
    height: 320px;
    /* margin-left: 16.5px; */
    /* margin-right: 16.5px; */
    background-size: cover;
    backdrop-filter: blur(10px);
}

.divGaleria
{
    background-color: rgba(27, 27, 27, 0.63);
    margin: auto;
    border-radius: 3px 3px 0px 0px;
}
.espacio
{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    margin-bottom: 3em;
}


/* Modal y todo su contenido */

.modal-header
{
    border-bottom: none!important;
}

.modal-title
{
    text-align: center;
    
}
.modal-content
{
    background-color: rgba(255, 255, 255, 0.753) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px)!important;
    
}

.fecha-modal, .zona-modal , .ambito-modal
{
    color: black;
    text-align: right;
    display: inline-block;
}
.desc-modal
{
    text-align: justify;
    color: black;
}
.imagen-modal
{
    display: inline-block;
    margin-right: 3em;
    width: 320px;
    height: 300px;
    margin-left: 0.7em;
    margin-bottom: 3em;
    border-radius: 3px;
    border: 0.2px solid rgba(0, 0, 0, 0.445);
}

.modal-footer
{
    border: none!important;
}
/* Los inputs que estan dento del modal */
.text
{
    background-color: transparent;
    border: none;
    display: inline-block!important;
    border-radius: 5px!important;
    text-align: left;
}

.text-ambito
{
    background-color: transparent;
    border: none;
    display: inline-block!important;
    border-radius: 5px!important;
    text-align: left!important;
}

.enlace-btn
{
    text-decoration: none;
    color: black;
}
.enlace-btn:hover
{
    color: white;
    text-decoration: none;
}
textarea
{
    background-color: transparent;
    border: none;
    resize: none!important;
    text-align: justify!important;
    width: 100%;
}
.label
{
    display: inline-block!important;
    text-align: right;
    width: 20%;
}
/* Final del modal */
 
/* Solo en galeria se debe corregir un error que hace que el fondo de la web se oscurezca por algun motivo que desconocemos */
body
{
    background-attachment: fixed;
    color: black;
}

.btn-borrar
{
    position: fixed;
    margin-top: 10%;
    border-radius: 0px 6px 6px 0px!important;
}

.labelBorrar
{
    margin-bottom: -16px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.07em;
    margin-left: 37%;
}
.divBorrar
{
    background-color: rgb(180, 25, 25);
    height: 25px;
    margin-top: 8px;
    border-radius: 0px 0px 3px 3px;
    border: 1px solid red;
    display: none;
}
.inputBorrar
{
    margin-top: 5px;
    margin-left: 5px;
}

.btn-volver
{
    position: fixed;
    bottom: 0;
}
.btn-volver a
{
    color: black;
}
.btn-volver a:hover
{
    color: black;
    text-decoration: none;
}