:root{
    --color1: #e2ab3f;
    --color2: #e277ad;
    --color3: #89c0da;
    --color4: #e15766;
    --color5: #9d8cd4;
    /* --color6: #9A78B3; */
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

body
{
    /* background-position: center; */
    background-size: cover;
    /* background-color: var(--color5); */
    background-attachment: fixed;
    background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2012/10/09/18629/819098298c62109a6e24dc883f9e1cdb-700.jpg');
}

footer {
    margin:0;
    /* background-color: var(--color3); */
    background-color: rgba(29, 29, 29, 0.842);
    /* background: linear-gradient(to bottom, rgba(61, 61, 61, 0.548), rgba(29, 29, 29, 0.842)) ; */

    display: table-row;
    height: 0;
    width: 100%;
    color: white;
    text-align: center;
}
footer p
{
    margin-top: 1em;
    margin-bottom: 0.3em;
}

.jessica *
{
    font-size: 20px!important;
    /* text-transform: uppercase; */
    letter-spacing: 0.06em;
}

nav
{
    background-color: rgba(29, 29, 29, 0.842);
    /* background-color: var(--color3); */
}
nav *
{
    color: white;
}

nav a:hover
{
    color:var(--color4);
}

/* login */
#login {
    margin-right: 10%;
  }
.modal-content {
    background-color: #e2ab3f;
    width: 900px;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

/* formulario para insertar una mujer */
form{
    /* color: white;
    background-color: teal;
    width: 50%;
    margin-top: 4%;
    margin-left: 30%; */
}
.formAlta
{
    color: white;
    /* background-color: teal; */
    width: 50%;
    margin-top: 4%;
    margin-left: 30%;
}

.formLogin
{
    color: black;
    /* background-color: teal; */
}
.cajas{
    padding: 4%;
    padding-top: 1%;
    background-color: rgb(44 38 47 / 86%);
    color: white;
    border-radius: 5px;
}
.inputAlta
{
    /* background-color: transparent; */
    background-color: rgb(29 28 28 / 14%);
    /* border: none; */
    border-radius: 5px!important;
    /* text-align: left; */
    border: 0.5px solid rgba(129, 129, 129, 0.699);

}

.labelAlta
{
    letter-spacing: 0.07em;
    /* text-transform: uppercase;
    font-size: 10px; */
}
.box{
    /* background-color: violet; */
    margin-top:  20px;
}
/* mensaje de error  */
#mensajeError, #mensajeErrorA, #mensajeErrorZ, #mensajeErrorFN, #mensajeErrorDes{
color: red;
margin-top:2%;
/* display: none; */
}


