.jugador{
    /* background-color: aqua; */
    /* display: inline-block;
    float: right; */
    width: 100px;
    /* margin-right: 2px; */
}

#secCategoria{
background-color: #89c0da;
color: black;
}


/* #btnInciar{
    display: inline-block;
    float: right;
} */
#jugadorCategoriaInicio{
display: flex;
flex-direction: row;
display: inline-block;
float: right;
margin-left: 2%;
margin-right: 1%;
}

.container{
    background-color: rgb(165, 108, 42);
    margin-left:0;
}
#tablero{
    background-color: #e15766;
    border:solid #C4EAF2 5px;
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-areas:
    "c25 c24 c23 c22 c21 c20 c19 c18 c17 "
    "c26 c53 c52 c51 c50 c49 c48 c47 c16 "
    "c27 c54 .   .   .   .   .   c46 c15 "
    "c28 c55 .   c63 c63 c63 .   c45 c14 "
    "c29 c56 .   c63 c63 c63 .   c44 c13 "
    "c30 c57 .   c63 c63 c63 .   c43 c12 "
    "c31 c58 .   c63 c63 c63 .   c42 c11 "
    "c32 c59 c60 c61 c62 .   .   c41 c10 "
    "c33 c34 c35 c36 c37 c38 c39 c40 c9  "
    "c1  c1  c2  c3  c4  c5  c6  c7  c8  "
    ;
    grid-auto-flow: dense;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    /* min-height: 100vh;
    overflow: hidden; */
    padding:1em;
    margin-left:10px;
    margin-right:1%;
    margin-bottom:2%;
    margin-top: 2%;
}
#casillaInicio{grid-area: c1; border-bottom-left-radius: 30%; 
    /* background-image: url(../resources/img/avatars/default.png) */
background-color: brown;
}
/* .pregunta{
    background-color: cadetblue;
    height: 100px;
} */
.casillaif{
    height: 100%;
    width: 100%;
    padding:1px;
}

.casillaJuego{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: contain; */
    background-position: center;
    display: flex;
  flex-direction: column;
}
.casillaJuego img{
    height: 40%;
    width: 100%;
}
.casillaBody{
    /* background-color: crimson; */
    height:30px;
    /* padding: 30px; */
}

.casillaFooter{
    background-color: rgba(255, 255, 255, 0.329);
    margin-top: auto;
}
.casillaHead{
    background-color: rgba(255, 255, 255, 0.329);
    text-align: left;
    width: 20px;
    height: 20px;
}
#casilla53, #casilla52, #casilla51, #casilla50, #casilla49, #casilla48,
#casilla47{
    margin-top: 25px;
}
#casilla33, #casilla34, #casilla35, #casilla36, #casilla37, #casilla38,
#casilla39, #casilla40,#casilla59, #casilla60, #casilla61, #casilla62{
    margin-bottom: 25px;
}
#casilla40, #casilla41, #casilla42, #casilla43, #casilla44, #casilla45,
#casilla46, #casilla47{
    margin-right: 25px;
}
#casilla53, #casilla54, #casilla55, #casilla56, #casilla57, #casilla58,
#casilla59{
    margin-left: 25px;
}


#casilla2{grid-area: c2;}
#casilla3{grid-area: c3;}
#casilla4{grid-area: c4; }
#casilla5{grid-area: c5;}
#casilla6{grid-area: c6;}
#casilla7{grid-area: c7;}
#casilla8{grid-area: c8; border-top-right-radius: 0px 0px 27px 0px;}
#casilla9{grid-area: c9; }
#casilla10{grid-area: c10;}
#casilla11{grid-area: c11;}
#casilla12{grid-area: c12;}
#casilla13{grid-area: c13;}
#casilla14{grid-area: c14;}
#casilla15{grid-area: c15;}
#casilla16{grid-area: c16;}
#casilla17{grid-area: c17; border-top-right-radius: 50%;}
#casilla18{grid-area: c18;}
#casilla19{grid-area: c19;}
#casilla20{grid-area: c20;}
#casilla21{grid-area: c21;}
#casilla22{grid-area: c22;}
#casilla23{grid-area: c23;}
#casilla24{grid-area: c24;}
#casilla25{grid-area: c25; border-radius: 27px 0px 0px 0px;}
#casilla26{grid-area: c26;}
#casilla27{grid-area: c27;}
#casilla28{grid-area: c28;}
#casilla29{grid-area: c29;}
#casilla30{grid-area: c30;}
#casilla31{grid-area: c31;}
#casilla32{grid-area: c32;}
#casilla33{grid-area: c33;}
#casilla34{grid-area: c34;}
#casilla35{grid-area: c35;}
#casilla36{grid-area: c36;}
#casilla37{grid-area: c37;}
#casilla38{grid-area: c38;}
#casilla39{grid-area: c39;}
#casilla40{grid-area: c40;}
#casilla41{grid-area: c41;}
#casilla42{grid-area: c42;}
#casilla43{grid-area: c43;}
#casilla44{grid-area: c44;}
#casilla45{grid-area: c45;}
#casilla46{grid-area: c46;}
#casilla47{grid-area: c47;}
#casilla48{grid-area: c48;}
#casilla49{grid-area: c49;}
#casilla50{grid-area: c50;}
#casilla51{grid-area: c51;}
#casilla52{grid-area: c52;}
#casilla53{grid-area: c53;}
#casilla54{grid-area: c54;}
#casilla55{grid-area: c55;}
#casilla56{grid-area: c56;}
#casilla57{grid-area: c57;}
#casilla58{grid-area: c58;}
#casilla59{grid-area: c59;}
#casilla60{grid-area: c60;}
#casilla61{grid-area: c61;}
#casilla62{grid-area: c62;}
#casilla63{grid-area: c63;}
